@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

:root{
       --bg-color: #16325b;
       --primary-color: #78b7d0;
       --secondary-color: #FFDC7F;
       --font:"nunito", sans-serif;
       }
       body{
        background-color: var(--bg-color);
        color: var(--primary-color);
        font-family: var(--font);
        height: 100vh;
        margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    color: var(--bg-color);
    }

h1{
    font-size: 2rem;
    color:var(--bg-color);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem
}
    nav a:hover{
transform: scale(0.90);
transition:transform 0.1s
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--bg-color);
  width: 100%;
  height: 3rem;
  margin: 2rem;
}
